.container {
    width: 20%;
    padding: 0.2em;
  }
  
  .video {
    width: 100%;
    height: 100%;
  /*   display: flex;
    align-items: center; */
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform 250ms ease-in;
    transition:all 0.2s ease-in;
  }
  
  .video:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  }
  
  .thumbnail {
    width: 100%;
  }
  
  .metadata {
    text-align:left;
    padding: 1em;
  }
  
  .title,
  .channel {
    margin: 0;
    font-size: 0.925rem;
  }
  
  .channel {
    font-size: 0.7rem;
    color:#c0c0c0;
  }
  